/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap'); */

body {
  overflow-x: hidden;
  margin-top: 100px;
  /* background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  /* Navigation */

  .navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar-brand img {
    height: 3rem;
  }

  .navbar-nav li {
    padding-right: .5rem;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem ;
  }

  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
  }

  ul {
    margin: 0;
  }

  /* Landing page */
  .home-inner {
    background-image: url('landing.jpg');
  }

  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    text-transform: uppercase;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  /* Tables */
  tr[data-href] {
    cursor: pointer;
  }

  tr[data-href]:hover {
    background-color: #ffff99;
  }

