{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% block head_content %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_title %}
        <title>Health GYM - {{ page_title }}</title>
    {% else %}
        <title>Health GYM</title>
    {% endif %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'payment/main.css' %}">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'payment/logo.png' %}" alt="health">
        </a>
        <div class="container"> 
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <!-- Navbar Left Side -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#disciplines">Disciplines</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#location">Location</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#pricing">Pricing</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li>
                    </ul>

                    <!-- Navbar Right Side -->
                    <ul class="navbar-nav">
                        <!-- Authenticated users options -->
                        {% if user.is_authenticated %}
                            <!-- Payments dropdown -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Payments
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if user.is_staff %}
                                        <a class="dropdown-item" href="{% url 'payment-create' %}">New payment</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'payment-list' %}">Payment list</a>

                                    <div class="dropdown-divider">
                                    </div>
                                    <!-- Payment Types -->
                                    <h6 class="dropdown-header">Payment types</h6>
                                    <a class="dropdown-item" href="{% url 'payment_type-list' %}">Payment type list</a>
                                    {% if user.is_staff %}
                                        <a class="dropdown-item" href="{% url 'payment_type-update' %}">Update payment type list</a>
                                    {% endif %}
                                </div>
                            </li>

                            <!-- Profile and Login options -->
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                              </li>
                        <!-- Unauthenticated users options -->
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>     
                        {% endif %}
                    </ul>

                </div>
        </div>
    </nav>

    <!-- Messages -->
    <div class="container" id="content">
        {%  if messages %}
            {% for message in messages%}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>