{% extends "payment/base.html" %}
{% block content %}
    <h1>Tipos de pagos</h1>
    <table class="table">
        <tr>
            <th>Tipo de pago</th>
            <th>Monto</th>
            <th>Codigo</th>
        </tr>  
        {% for payment_type in object_list %}
            <tr>
                <th>{{payment_type}}</th>
                <th>{{payment_type.amount}}$</th>
                <th>{{payment_type.payment_code}}</th>
            </tr>
        {% endfor %}
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
            
            rows.forEach(row => {
                row.addEventListener("click", () => {
                    window.location.href = row.dataset.href;
                })
            });
        });
    </script>

{% endblock content %}