{% extends "payment/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="content-section">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Register payment</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Submit payment</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm">
                <div class="content-section">
                    <legend>Amount</legend>
                    <p id="total_amount"></p>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
        <script>
            $("#id_payment_type").on('change', function () {
                var payment_type = $(this).val();
                if (payment_type) {  
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'get-amount' %}",
                        data: {"payment_type": payment_type},
                        success: function(response) {
                            var amount = response['current_amount']
                            var payment_name = $('#id_payment_type option:selected').text();
                            document.getElementById("total_amount").innerHTML = amount + "$" + ' ' + payment_name;
                        }
                    })
                }
            })

        </script>
    {% endblock javascript %}